* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
  }

body {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin: 0 auto;
    font-size: x-large;
    text-align: center;
    padding: 5px;
}

footer{
    padding: 10px;
}

p{
    margin: 0px;
    padding: 0px;
}

.p_resultado{
    border: solid 1px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 1px 1px 2px 1px;
    height: 1.4em;
    min-width: 1em;
    background-color: aliceblue;
}

.p_resultado_cables{
    border: solid 1px;
    margin: 2px;
    padding-left: 2px;
    background-color: aliceblue;
}

.datos{
    background-color: lightcyan;
}

.caja_contenedor{
    border: solid 2px;
}

.caja2{
    display: grid;
    grid-template-columns: minmax(5em, 0.15fr) minmax(5em, 5em);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.caja4{
    display: grid;
    grid-template-columns: minmax(7.5em, 0.7fr) 1fr minmax(8em, 8em) minmax(5em, 7em);
    grid-column: 1 / -1;
    border: solid 1px;
    margin: 2px;
    padding: 2px;
}

.caja4_sin_borde{
    display: grid;
    grid-template-columns: minmax(7.5em, 0.7fr) 1fr minmax(8em, 8em) minmax(5em, 7em);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.caja4_cables{
    display: grid;
    grid-template-columns: minmax(5em, 0.7fr) minmax(5em, 0.5fr) minmax(5em, 0.3fr) minmax(5em, 0.5fr);
    grid-column: 1 / -1;
    border: solid 1px;
    margin: 2px;
    padding: 2px;
}

.caja4_cables_sin_borde{
    display: grid;
    grid-template-columns: minmax(5em, 0.7fr) minmax(5em, 0.5fr) minmax(5em, 0.3fr) minmax(5em, 0.5fr);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.caja4_version2{
    display: grid;
    grid-template-columns: minmax(6em, 6em) minmax(6em, 6em) minmax(8em, 8em) minmax(5em, 0.8fr);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.caja6{
    display: grid;
    grid-template-columns: minmax(5em, 8em) minmax(5em, 8em) minmax(6em, 6em) minmax(4em, 4em) minmax(4em, 4em) minmax(2em, 2em);
    grid-column: 1 / -1;
    border: solid 1px;
    margin: 2px;
    padding: 2px;
}

.margin-text
{
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.text-center{
    text-align: center;
    padding: 1px;
    margin: 1px;
}

.label-text-right{
    text-align: right;
    padding: 1px;
    margin: 1px;
}

.text-chico{
    font-size: small;
}

.nota{
    font-style: italic;
    font-size: small;
    list-style-position: inside;
}

.nota_sinBullets{
    font-style: italic;
    font-size: small;
    list-style-position: inside;
    list-style-type: none
}

#autor{
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:550px) {
    body{max-width: 100%;}
    .p_resultado{font-size: 2.2vw; padding-bottom: 2px;}
    *{font-size: 2.2vw;}
    .text-chico{font-size: 2.2vw;}
    }